<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />

    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
        * {
          font-family: "Inter", sans-serif;
          font-optical-sizing: auto;
          font-style: normal;
        }
    </style>
</head>
<body class="flex flex-col justify-between min-h-screen">
  <header class="py-7 border-b px-4 md:px-10 flex justify-between">
    <div class="flex space-x-6">
      <h 1 class="font-semibold underline hidden md:block"><a href="/dashboard">Dashboard</a></h>
      <a href="/dashboard" class="md:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#858585" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-layout-grid"><rect width="7" height="7" x="3" y="3" rx="1"/><rect width="7" height="7" x="14" y="3" rx="1"/><rect width="7" height="7" x="14" y="14" rx="1"/><rect width="7" height="7" x="3" y="14" rx="1"/></svg>
      </a>
      <nav class="flex space-x-3">
        <a href="/dashboard/train" class="underline hidden md:inline-block">Data Latih</a>
        <a href="/dashboard/train" class="md:hidden">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#858585" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-database"><ellipse cx="12" cy="5" rx="9" ry="3"/><path d="M3 5V19A9 3 0 0 0 21 19V5"/><path d="M3 12A9 3 0 0 0 21 12"/></svg>
        </a>
      </nav>
    </div>
    <a href="/logout" class="hidden md:inline-block py-2 px-4 bg-blue-600 text-white rounded-md">Logout</a>
    <a href="/logout" class="md:hidden">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#858585" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-log-out"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"/><polyline points="16 17 21 12 16 7"/><line x1="21" x2="9" y1="12" y2="12"/></svg>
    </a>
  </header>
  <main class="p-4 ">
    <div class="max-w-5xl m-auto">
      <table class="w-full m-auto">
          <thead>
              <tr class="bg-blue-500">
                  <th class="border p-2 text-white w-[10%]">No.</th>
                  <th class="border p-2 text-white w-[40%]">Status</th>
                  <th class="border p-2 text-white w-[50%]">Gambar</th>
              </tr>
          </thead>
          <tbody>
              {% for image in images %}
                  <tr>
                      <td class="border text-center">{{ image.nomor }}</td>
                      <td class="border pl-2">{{ image.status }}</td>
                      <td class="border text-center"><img class="m-auto w-[300px]" src="{{ url_for('static', filename='uploads/'+image.subfolder+'/'+image.image) }}"></td>
                  </tr>
              {% endfor %}
          </tbody>
      </table>
    </div>
  </main>
    <!-- Optional JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0-alpha1/js/bootstrap.bundle.min.js"></script>
  <footer class="py-7 border-t px-10">
      <p>&copy; Copyright 2024</p>
  </footer>
</body>
</html>

